body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    padding: 0;
}


main {
    flex-grow: 1;
    background: #ffffff;
}
header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a52a2a;
    /*padding: 0 px;*/
    width: 100%;
    position: fixed;
    z-index: 999;
}

.top-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo, .login, .cart-btn {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.product-page {
    display: flex;
    margin-top: 60px;
    gap: 20px;
    padding: 20px;
}


.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-thumbnails {
    display: flex;
    gap: 10px;
}

.thumb {
    width: 50px;
    cursor: pointer;
}

.gallery-main img {
    width: 300px;
}


.product-info {
    flex-grow: 1;
    max-width: 500px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}


.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.quantity button {
    padding: 5px 10px;
    font-size: 18px;
}

#quantity {
    font-size: 18px;
}


.add-to-cart {
    background: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}


footer {
    text-align: center;
    background: #8b5e58;
    color: white;
    padding: 10px;
    margin-top: auto;
}

